# ignore IDE project files
.idea/
.classpath
.project
*.iml
*.iws
*.ipr
*.settings
**/cobertura.ser
**/.DS_Store

# ignore all files ending with ~
*~

#Gradle
.gradletasknamecache
.gradle/
build/
bin/
